<?xml version="1.0" encoding="utf-8"?>

<launch>
    <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
    
        <arg name="world_file" value="/usr/share/gazebo-11/worlds/actor.world"/>
    </include>
    <!-- node for the teleop_twist_keyboard-->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop">
    <remap from="cmd_vel" to="cmd_vel"/>
  </node>
</launch>