


<launch>
  <node pkg="smb_highlevel_controller" type="smb_highlevel_controller" 
    	name="smb_highlevel_controller" output="screen" launch-prefix='gnome-terminal --command' >
    	<rosparam command="load" 
        	file="$(find smb_highlevel_controller)/config/config.yaml"/>
	</node>
    
    <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
    
        
        <arg name="world_file" value="$(find smb_highlevel_controller)/worlds/singlePillar.world"/>
		    <arg name="laser_enabled" value="true"/>
        <arg name="laser_scan_min_height"                  value="-0.2"/>
        <arg name="laser_scan_max_height"                  default="1.0"/>

    </include>


  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find smb_highlevel_controller/rviz/config_file.rviz" >
  </node>


</launch>
